#wrap{
	background: #f7f7f5;
	width: 100%;
}
.store_content{
	width: 1200px;
	height: 2602px;
	margin: 0 auto;
	background: #f7f7f5;
	padding-top: 10px;
}
.content_top{
	width: 1200px;
	display: flex;
	justify-content: space-between;
}
.content_top li{
	width: 294px;
	height:140px;
}
.content_top li img{
	width: 100%;
	height: 140px;
	display: block;
}

/*------------------------banner中的二级菜单------------------------*/
.banner_nav .banner_nav_left .white_menu{
	position: absolute;
	top: 166px;
	left: 0px;
	width: 202px;
	z-index: 3;
	background: #000;
	background: rgba(65,65,65,0.8);
	padding-top: 42px;
	padding-bottom: 42px;
}
.banner_nav .banner_nav_left .white_menu li {
	color: #FFFFFF;
	color: black;
	height: 62px;
	line-height: 62px;
	padding-left: 16px;
	padding-right: 16px;
}
.banner_nav .banner_nav_left .white_menu li:hover{
	background: #FFFFFF;
	opacity: 1;
	color: black;
	transition: .6s;
}
.banner_nav .banner_nav_left .white_menu li:hover .menu_outBox{
	display: block;
}
.banner_nav .banner_nav_left .white_menu li span{
	float: right;
	display: block;
}
.banner_nav .banner_nav_left .menu_outBox{
	position: absolute;
	top: 0px;
	left: 200px;
	width: 794px;
	height: 518px;
	z-index: 3;
	display: none;
}
.banner_nav .banner_nav_left .menu_outBox .menu_box{
    position: absolute;
    width: 764px;
    height: 518px;
    background: #FFFFFF;
    top: 0px;
    left: 30px;
    z-index: 3;
	display: block;
}
.menu_box_active{
	z-index: 3;
	opacity: 1;
}
.banner_nav .banner_nav_left .menu_outBox .menu_box .menu_box_top{
    border-bottom: 1px solid #E5E5E5;
    height: 142px;
    padding: 8px 50px 0 44px;
}
.banner_nav .banner_nav_left .menu_outBox .menu_box span:nth-child(1){
    display: block;
    float: left;
}
.banner_nav .banner_nav_left .menu_outBox .menu_box span:nth-child(2){
    display: block;
    float: right;
}
.banner_nav .banner_nav_left .menu_outBox .menu_box .phone_cate{
    float: left;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.banner_nav .banner_nav_left .menu_outBox .menu_box .phone_cate li{
    float: left;
    width: 124px;
    height: 52px;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.banner_nav .banner_nav_left .menu_outBox .menu_box .phone_cate li:hover{
	box-shadow: inset 0px 0px 20px #aaaab6;
	transition: .4s;
}
.banner_nav .banner_nav_left .menu_outBox .menu_box .phone_cate li:nth-child(1){
    background: url("../img/store/NEX.jpg") no-repeat center;
    background-size: cover;
}
.banner_nav .banner_nav_left .menu_outBox .menu_box .phone_cate li:nth-child(2){
    background: url("../img/store/X.jpg") no-repeat center;
    background-size: cover;
}
.banner_nav .banner_nav_left .menu_outBox .menu_box .phone_cate li:nth-child(3){
    background: url("../img/store/Y.png") no-repeat center;
    background-size: cover;
}
.banner_nav .banner_nav_left .menu_outBox .menu_box .phone_cate li:nth-child(4){
    background: url("../img/store/Z.jpg") no-repeat center;
    background-size: cover;
}
.menu_box .menu_box_bot{
	width: 764px;
	height: 370px;
}
.menu_box .menu_box_bot ul{
	width: 764px;
	height: 336px;
	/*padding: 0 50px 0 44px;*/
	overflow: hidden;
}
.banner_nav .banner_nav_left .white_menu .menu_outBox .menu_box .menu_box_bot ul li{
	width: 202px;
	height: 46px;
	float: left;
	margin-top: 30px;
	font-size: 13px;
}
.banner_nav .banner_nav_left .white_menu .menu_outBox .menu_box .menu_box_bot ul li:nth-child(2){
	margin: 30px 30px 0 30px;
}
.banner_nav .banner_nav_left .white_menu .menu_outBox .menu_box .menu_box_bot ul li:nth-child(5){
	margin: 30px 30px 0 30px;
}
.banner_nav .banner_nav_left .white_menu .menu_outBox .menu_box .menu_box_bot ul li:nth-child(8){
	margin: 30px 30px 0 30px;
}
.banner_nav .banner_nav_left .white_menu .menu_outBox .menu_box .menu_box_bot ul li:nth-child(11){
	margin: 30px 30px 0 30px;
}
.banner_nav .banner_nav_left .white_menu .menu_outBox .menu_box .menu_box_bot ul li img{
	display: block;
	width: 46px;
	height: 46px;
	float: left;
}
.banner_nav .banner_nav_left .white_menu .menu_outBox .menu_box .menu_box_bot ul li p{
	height: 100%;
	display: flex;
	justify-items: center;
	align-items: center;
}


/*--------------------------热卖专区-----------------------------*/
.content_selling{
	width: 1200px;
}
.content_selling h2{
	display: inline-block;
	color: #333333;
	font-size: 24px;
	margin: 55px 504px 24px 552px;
	
}
.content_selling>a{
	color: #333333;
	font-size: 14px;	
}
.content_selling>a:hover{
	color: red;
}


.content_selling ul{
	width:1200px;
	display: flex;
	justify-content: space-between;
}	
.content_selling ul li{
	width: 394px;
	height: 511px;
	background: #fff;
	position: relative;
}
.content_selling ul li .phone{
	width: 148px;
	height: 148px;
	position: absolute;
	left:50% ;
	margin-left: -74px;
	margin-top: 80px;	
	
}
.content_selling ul li .phone a{
	display: block;
	opacity: 1;
	z-index: 3;
	width: 148px;
	height: 144px;
	background-size: cover;
}
.content_selling ul li .phone_hidden{
	opacity: 1;
	z-index: 3;
	width: 148px;
	height: 148px;
	position: absolute;
	left:50% ;
	margin-left: -74px;
	margin-top: 80px;
}
.content_selling ul li .phone_hidden .blue_phone{
	display: block;
	width: 148px;
	height: 148px;
	background-size: cover;
	z-index: 1;
	opacity: 0;
}

.content_selling ul li .annotation{
	position: absolute;
	top:323px;
	width: 394px;
	text-align: center;
	font-size: 18px;
	color:#000;			
}
.content_selling ul li .annotation p{
	font-size:14px;
	margin-top:8px;
}
.content_selling ul li .marquee{
	position: absolute;
	top:323px;
	width: 394px;
	text-align: center;
	font-size: 18px;
	color:#000;
	display: none;
}
.content_selling ul li .marquee p{
	width: 394px;
}
.content_selling ul li .marquee p .a1{
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background: #E28FB9;
	display: inline-block;
	margin:8px 8px;
}
.content_selling ul li .marquee p .a2{
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background: #056be8;
	display: inline-block;
	margin:8px 8px;
}
.content_selling ul li .price{
	position: absolute;
	top:434px;
	width: 394px;
	text-align: center;
	font-size: 16px;
	color:red;
}
.content_selling ul li:hover{
	box-shadow: 0 5px 10px #6C6C6C;
	margin-top:-3px;
	transition: .4s;
}
.content_selling ul li:hover .annotation{
	display: none;
}
.content_selling ul li:hover .marquee{
	display: block;
}

.content_selling ul li:nth-child(1) .phone a{
	background: url(../img/store/103.png) no-repeat center;
	background-size:contain;
}
.content_selling ul li:nth-child(1) .phone_hidden .blue_phone{
	background: url(../img/store/108.jpg) no-repeat center;
	background-size:contain;
}

.content_selling ul li:nth-child(2) .phone a{
	background: url(../img/store/103.png) no-repeat center;
	background-size:contain;
}
.content_selling ul li:nth-child(2) .phone_hidden .a1{
	background: url(../img/store/108.jpg) no-repeat center;
	background-size:contain;
}
.content_selling ul li:nth-child(3) .phone a{
	background: url(../img/store/103.png) no-repeat center;
	background-size:contain;
}
.content_selling ul li:nth-child(3) .phone_hidden .a1{
	background: url(../img/store/108.jpg) no-repeat center;
	background-size:contain;
}



					/*精品手机*/
					
					
.content_phone{
	width: 1200px;
}
.content_phone h2{
	display: inline-block;
	color: #333333;
	font-size: 24px;
	margin: 55px 504px 24px 552px;
	
}
.content_phone>a{
	color: #333333;
	font-size: 14px;	
}
.content_phone>a:hover{
	color: red;
}	
.content_phone ul{
	width:1200px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.content_phone ul li .price{
	width: 595px;
	text-align: center;
}	
.content_phone ul li:nth-child(1){
	width: 595px;
	height: 380px;
	margin-bottom: 10px;
}			
.content_phone ul li:nth-child(1) a{
	display: block;
	width: 595px;
	height: 380px;
	background: url(../img/store/121.jpg);
}


.content_phone ul li:nth-child(2){
	width: 294px;
	height: 380px;
	background: #fff;
	margin-bottom: 10px;
	position: relative;
	
}
.content_phone ul li:nth-child(2) .phone a{
	display: block;
	width: 114px;
	height: 138px;
	background: url(../img/store/101.png) no-repeat center;
	background-size:cover;
	position: absolute;
	top: 60px;
	left: 88px;
}
.content_phone ul li:nth-child(2) .annotation{
	position: absolute;
	top:238px;
	text-align: center;
	width: 294px;
}
.content_phone ul li:nth-child(2) h3{
	width: 294px;
	color:#000;
	font-size: 16px;
}
.content_phone ul li:nth-child(2) p{
	width: 294px;
	color:#6C6C6C;
	font-size: 12px;
	height: 34px;
	line-height: 34px;
}
.content_phone ul li:nth-child(2) .marquee{
	position: absolute;
	display: none;
	top:238px;
	text-align: center;
	width: 294px;
	
}
.content_phone ul li:nth-child(2) .marquee h3{
	color: #000000;
	font-size: 16px;
}
.content_phone ul li:nth-child(2) .marquee p a{
	display: block;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background: #000;
	margin:5px 0 0 142px;
}
.content_phone ul li:nth-child(2)>p{
	position: absolute;
	top: 322px;
	color: red;
}

.content_phone ul li:nth-child(3){
	width: 294px;
	height: 380px;
	background: #fff;
	margin-bottom: 10px;
	position: relative;
}
.content_phone ul li:nth-child(3) .phone a{
	display: block;
	width: 114px;
	height: 138px;
	background: url(../img/store/108.jpg) no-repeat center;
	background-size:cover;
	position: absolute;
	top: 60px;
	left: 88px;
	
}
.content_phone ul li:nth-child(3) .phone_hidden .a1{
	display: block;
	width: 114px;
	height: 138px;
	background: url(../img/store/93.png) no-repeat center;
	background-size:cover;
	position: absolute;
	top: 60px;
	left: 88px;
	display: none;
}
.content_phone ul li:nth-child(3) .phone_hidden .a2{
	display: block;
	width: 114px;
	height: 138px;
	background: url(../img/store/101.png) no-repeat center;
	background-size:cover;
	position: absolute;
	top: 60px;
	left: 88px;
	display: none;
}

.content_phone ul li:nth-child(3) .annotation{
	position: absolute;
	top:238px;
	text-align: center;
	width: 294px;
}
.content_phone ul li:nth-child(3) h3{
	width: 294px;
	color:#000;
	font-size: 16px;
}
.content_phone ul li:nth-child(3) p{
	width: 294px;
	color:#6C6C6C;
	font-size: 12px;
	height: 34px;
	line-height: 34px;
}
.content_phone ul li:nth-child(3) .marquee{
	position: absolute;
	display: none;
	top:238px;
	text-align: center;
	width: 294px;
	
}
.content_phone ul li:nth-child(3) .marquee h3{
	color: #000000;
	font-size: 16px;
}
.content_phone ul li:nth-child(3) .marquee p{
	width: 294px;
	text-align: center;
	margin-top:5px;
}
.content_phone ul li:nth-child(3) .marquee p .a1{
	display: inline-block;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background: #fd9cf7;
	
}
.content_phone ul li:nth-child(3) .marquee p .a2{
	display: inline-block;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background: red;
	margin: 0 8px;
}
.content_phone ul li:nth-child(3) .marquee p .a3{
	display: inline-block;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background: #000;
	
}
.content_phone ul li:nth-child(3)>p{
	position: absolute;
	top: 322px;
	color: red;
	width: 294px;
}


.content_phone ul li:nth-child(4){
	width: 294px;
	height: 380px;
	background: #fff;
	margin-bottom: 10px;
	position: relative;
}
.content_phone ul li:nth-child(4) .phone a{
	display: block;
	width: 114px;
	height: 138px;
	background: url(../img/store/108.jpg) no-repeat center;
	background-size:cover;
	position: absolute;
	top: 60px;
	left: 88px;
	
}
.content_phone ul li:nth-child(4) .phone_hidden .a1{
	display: block;
	width: 114px;
	height: 138px;
	background: url(../img/store/93.png) no-repeat center;
	background-size:cover;
	position: absolute;
	top: 60px;
	left: 88px;
	display: none;
}
.content_phone ul li:nth-child(4) .phone_hidden .a2{
	display: block;
	width: 114px;
	height: 138px;
	background: url(../img/store/101.png) no-repeat center;
	background-size:cover;
	position: absolute;
	top: 60px;
	left: 88px;
	display: none;
}
.content_phone ul li:nth-child(4) .annotation{
	position: absolute;
	top:238px;
	text-align: center;
	width: 294px;
}
.content_phone ul li:nth-child(4) h3{
	width: 294px;
	color:#000;
	font-size: 16px;
}
.content_phone ul li:nth-child(4) p{
	width: 294px;
	color:#6C6C6C;
	font-size: 12px;
	height: 34px;
	line-height: 34px;
}
.content_phone ul li:nth-child(4) .marquee{
	position: absolute;
	display: none;
	top:238px;
	text-align: center;
	width: 294px;
	
}
.content_phone ul li:nth-child(4) .marquee h3{
	color: #000000;
	font-size: 16px;
}
.content_phone ul li:nth-child(4) .marquee p{
	width: 294px;
	text-align: center;
	margin-top:5px;
	
}
.content_phone ul li:nth-child(4) .marquee p .a1{
	display: inline-block;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background: #fd9cf7;
	
}
.content_phone ul li:nth-child(4) .marquee p .a2{
	display: inline-block;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background: red;
	margin: 0 8px;
}
.content_phone ul li:nth-child(4) .marquee p .a3{
	display: inline-block;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background: #000;
	
}
.content_phone ul li:nth-child(4)>p{
	position: absolute;
	top: 322px;
	color: red;
}



.content_phone ul li:nth-child(5){
	width: 294px;
	height: 380px;
	background: #fff;
	position: relative;
}
.content_phone ul li:nth-child(5) .phone a{
	display: block;
	width: 114px;
	height: 138px;
	background: url(../img/store/108.jpg) no-repeat center;
	background-size:cover;
	position: absolute;
	top: 60px;
	left: 88px;
	
}
.content_phone ul li:nth-child(5) .phone_hidden .a1{
	display: block;
	width: 114px;
	height: 138px;
	background: url(../img/store/93.png) no-repeat center;
	background-size:cover;
	position: absolute;
	top: 60px;
	left: 88px;
	display: none;
}
.content_phone ul li:nth-child(5) .phone_hidden .a2{
	display: block;
	width: 114px;
	height: 138px;
	background: url(../img/store/101.png) no-repeat center;
	background-size:cover;
	position: absolute;
	top: 60px;
	left: 88px;
	display: none;
}
.content_phone ul li:nth-child(5) .annotation{
	position: absolute;
	top:238px;
	text-align: center;
	width: 294px;
}
.content_phone ul li:nth-child(5) h3{
	width: 294px;
	color:#000;
	font-size: 16px;
}
.content_phone ul li:nth-child(5) p{
	width: 294px;
	color:#6C6C6C;
	font-size: 12px;
	height: 34px;
	line-height: 34px;
}
.content_phone ul li:nth-child(5) .marquee{
	position: absolute;
	display: none;
	top:238px;
	text-align: center;
	width: 294px;
}
.content_phone ul li:nth-child(5) .marquee h3{
	color: #000000;
	font-size: 16px;
}
.content_phone ul li:nth-child(5) .marquee p{
	width: 294px;
	text-align: center;
	margin-top:5px;
	
}
.content_phone ul li:nth-child(5) .marquee p .a1{
	display: inline-block;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background: #fd9cf7;
	
}
.content_phone ul li:nth-child(5) .marquee p .a2{
	display: inline-block;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background: red;
	margin: 0 8px;
}
.content_phone ul li:nth-child(5) .marquee p .a3{
	display: inline-block;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background: #000;
	
}
.content_phone ul li:nth-child(5)>p{
	position: absolute;
	top: 322px;
	color: red;
}


.content_phone ul li:nth-child(6){
	width: 294px;
	height: 380px;
	background: #fff;
	position: relative;
}
.content_phone ul li:nth-child(6) .phone a{
	display: block;
	width: 114px;
	height: 138px;
	background: url(../img/store/108.jpg) no-repeat center;
	background-size:cover;
	position: absolute;
	top: 60px;
	left: 88px;
	
}
.content_phone ul li:nth-child(6) .phone_hidden .a1{
	display: block;
	width: 114px;
	height: 138px;
	background: url(../img/store/93.png) no-repeat center;
	background-size:cover;
	position: absolute;
	top: 60px;
	left: 88px;
	display: none;
}
.content_phone ul li:nth-child(6) .phone_hidden .a2{
	display: block;
	width: 114px;
	height: 138px;
	background: url(../img/store/101.png) no-repeat center;
	background-size:cover;
	position: absolute;
	top: 60px;
	left: 88px;
	display: none;
}
.content_phone ul li:nth-child(6) .annotation{
	position: absolute;
	top:238px;
	text-align: center;
	width: 294px;
}
.content_phone ul li:nth-child(6) h3{
	width: 294px;
	color:#000;
	font-size: 16px;
}
.content_phone ul li:nth-child(6) p{
	width: 294px;
	color:#6C6C6C;
	font-size: 12px;
	height: 34px;
	line-height: 34px;
}
.content_phone ul li:nth-child(6) .marquee{
	position: absolute;
	display: none;
	top:238px;
	text-align: center;
	width: 294px;
	
}
.content_phone ul li:nth-child(6) .marquee h3{
	color: #000000;
	font-size: 16px;
}
.content_phone ul li:nth-child(6) .marquee p{
	width: 294px;
	text-align: center;
	margin-top:5px;
	
}

.content_phone ul li:nth-child(6) .marquee p .a3{
	display: inline-block;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background: #000;
	
}
.content_phone ul li:nth-child(6)>p{
	position: absolute;
	top: 322px;
	color: red;
}


.content_phone ul li:nth-child(7){
	width: 294px;
	height: 380px;
	background: #fff;
	position: relative;
}
.content_phone ul li:nth-child(7) .phone a{
	display: block;
	width: 114px;
	height: 138px;
	background: url(../img/store/108.jpg) no-repeat center;
	background-size:cover;
	position: absolute;
	top: 60px;
	left: 88px;
	
}
.content_phone ul li:nth-child(7) .phone_hidden .a1{
	display: block;
	width: 114px;
	height: 138px;
	background: url(../img/store/93.png) no-repeat center;
	background-size:cover;
	position: absolute;
	top: 60px;
	left: 88px;
	display: none;
}
.content_phone ul li:nth-child(7) .phone_hidden .a2{
	display: block;
	width: 114px;
	height: 138px;
	background: url(../img/store/101.png) no-repeat center;
	background-size:cover;
	position: absolute;
	top: 60px;
	left: 88px;
	display: none;
}
.content_phone ul li:nth-child(7) .annotation{
	position: absolute;
	top:238px;
	text-align: center;
	width: 294px;
}
.content_phone ul li:nth-child(7) h3{
	width: 294px;
	color:#000;
	font-size: 16px;
}
.content_phone ul li:nth-child(7) p{
	width: 294px;
	color:#6C6C6C;
	font-size: 12px;
	height: 34px;
	line-height: 34px;
}
.content_phone ul li:nth-child(7) .marquee{
	position: absolute;
	display: none;
	top:238px;
	text-align: center;
	width: 294px;
	
}
.content_phone ul li:nth-child(7) .marquee h3{
	color: #000000;
	font-size: 16px;
}
.content_phone ul li:nth-child(7) .marquee p{
	width: 294px;
	text-align: center;
	margin-top:5px;
	
}
.content_phone ul li:nth-child(7) .marquee p .a1{
	display: inline-block;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background: #fd9cf7;
	
}
.content_phone ul li:nth-child(7) .marquee p .a2{
	display: inline-block;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background: red;
	margin: 0 8px;
}
.content_phone ul li:nth-child(7) .marquee p .a3{
	display: inline-block;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background: #000;
	
}
.content_phone ul li:nth-child(7)>p{
	position: absolute;
	top: 322px;
	color: red;
}
.content_phone ul li:hover{
	box-shadow: 0px 5px 10px #6C6C6C;
	margin-top:-3px;
	transition: .4s;
}	

.content_phone ul li:hover .annotation{
	display: none;
}
.content_phone ul li:hover .marquee{
	display: block;
}				


			/*精品配件*/
			
.content_accessories{
	width: 1200px;
}
.content_accessories h2{
	display: inline-block;
	color: #333333;
	font-size: 24px;
	margin: 55px 356px 24px 552px;
	
}
.content_accessories>a{
	color: #333333;
	font-size: 14px;	
}
.content_accessories>a:nth-child(2){
	margin:0 12px;
}
.content_accessories>a:nth-child(4){
	margin:0 12px;	
}
.content_accessories>a:hover{
	color: red;
}

.content_accessories ul{
	width:1200px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}	
.content_accessories ul li{
	width: 294px;
	height: 380px;
	background: #fff;
	position:relative;
}
.content_accessories ul li .accessories{
	position: absolute;
	top:50px;
	left: 62px;	
	
}
.content_accessories ul li .accessories a{
	display: block;
	width: 170px;
	height: 158px;
	background-size:cover;	
}
.content_accessories ul li .accessories_hidden{
	position: absolute;
	top:50px;
	left: 62px;	
	display: none;
}
.content_accessories ul li .accessories_hidden .a1{
	display: block;
	width: 170px;
	height: 158px;	
	background-size:cover;	
}
.content_accessories ul li .annotation{
	position: absolute;
	top:236px;
	width: 294px;
	text-align: center;
	font-size: 16px;
	color:#000;			
}
.content_accessories ul li .annotation p{
	font-size:14px;
	margin-top:8px;
}
.content_accessories ul li .marquee{
	position: absolute;
	top:236px;
	width: 294px;
	text-align: center;
	font-size: 16px;
	color:#000;
	display: none;
}
.content_accessories ul li .marquee p{
	width: 294px;
}
.content_accessories ul li .marquee p .a1{
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background: #e2e1e1;
	display: inline-block;
	margin:8px 8px;
}
.content_accessories ul li .marquee p .a2{
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background: red;
	display: inline-block;
	margin:8px 8px;
}
.content_accessories ul li .price{
	position: absolute;
	top:328px;
	width: 294px;
	text-align: center;
	font-size: 16px;
	color:red;
}
.content_accessories ul li:nth-child(1){
	margin-bottom: 10px;
}
.content_accessories ul li:nth-child(1) .accessories a{
	background: url(../img/store/17.png) no-repeat center;
	background-size:100%;
}
.content_accessories ul li:nth-child(2){
	margin-bottom: 10px;
}
.content_accessories ul li:nth-child(2) .accessories a{
	background: url(../img/store/72.png) no-repeat center;
	background-size:100%;
}



.content_accessories ul li:nth-child(3){
	margin-bottom: 10px;
}
.content_accessories ul li:nth-child(3) .accessories a{
	background: url(../img/store/21.png) no-repeat center;
	background-size:100%;
}



.content_accessories ul li:nth-child(4){
	margin-bottom: 10px;
}
.content_accessories ul li:nth-child(4) .accessories a{
	background: url(../img/store/99.png) no-repeat center;
	background-size:100%;
}

.content_accessories ul li:nth-child(5) .accessories a{
	background: url(../img/store/46.png) no-repeat center;
	background-size:100%;
}

.content_accessories ul li:nth-child(5) .marquee p .a1{
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background: #f0f7a1;
	display: inline-block;
	margin:8px 8px;
}

.content_accessories ul li:nth-child(6) .accessories a{
	background: url(../img/store/38.png) no-repeat center;
	background-size:100%;
}
.content_accessories ul li:nth-child(6) .marquee p .a1{
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background: #000;
	display: inline-block;
	margin:8px 8px;
}


.content_accessories ul li:nth-child(7) .accessories a{
	background: url(../img/store/48.png) no-repeat center;
	background-size:100%;
}
.content_accessories ul li:nth-child(7) .accessories_hidden .a1{
	background: url(../img/store/32.png) no-repeat center;
	background-size:100%;
}
.content_accessories ul li:nth-child(7) .marquee p .a1{
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background: #000;
	display: inline-block;
	margin:8px 8px;
}
.content_accessories ul li:nth-child(7) .marquee p .a2{
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background: red;
	display: inline-block;
	margin:8px 8px;
}


.content_accessories ul li:nth-child(8) .accessories a{
	background: url(../img/store/11.png) no-repeat center;
	background-size:100%;
}

.content_accessories ul li:hover{
	box-shadow: 0px 5px 10px #6C6C6C;
	margin-top:-3px;
	transition: 0.4s;
}
.content_accessories ul li:hover .annotation{
	display: none;
}
.content_accessories ul li:hover .marquee{
	display: block;
}
